*
{
	font-family:Arial,Helvetica,sans-serif;
}

#container
{
	border: 1px solid black;
	border-radius: 25px;
	max-width: 1000px;
	background: rgba(255,255,255,.8);
	margin: 20px auto;
	text-align: left;
	padding: 10px;
}

#filmInfoContainer
{
	border: 5px solid red;
	border-radius: 25px;
	max-width: 1000px;
	background: rgba(255,255,255,.8);
	margin: 20px auto;
	text-align: left;
	padding: 20px;
}

#userInfoContainer
{
	border: 1px solid blue;
	border-radius: 7px;
	max-width: 100%;
	background: rgba(55,25,255,.8);
	margin: 1px auto;
	text-align: right;
	padding: 5px;
	color: darkgrey;
	font-family: Arial;
	font-size: 10px;
	/*display:inline;*/
}

#formOne
{
	//float: left;
	color: green;
	clear: both;
	
}

#formTwo
{
	margin-left: 390px;
	//float: left;
	color: green;
	margin-top: -137px;
}

IMG.displayed 
{
    display: block;
    margin-left: auto;
    margin-right: auto 
}

/* Have small tiday input boxes */
.inputForm
{
    border-bottom-color: #b3b3b3;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-left-color: #b3b3b3;
    border-left-style: solid;
    border-left-width: 1px;
    border-right-color: #b3b3b3;
    border-right-style: solid;
    border-right-width: 1px;
    border-top-color: #b3b3b3;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-top-style: solid;
    border-top-width: 1px;
    font-size: 10px;
}

.topPic
{	
	background-image:url('oscars-2014-nominees.png');
	background-repeat: no-repeat;
	height: 319px;
}

.topPic.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#navigation{
	float: left;
	width: 180px;
	background-color: #006600; /*green*/
	padding-left: 0px;
}

#presentation {	
	font-size: 14px;
	text-align: centre;
	color: #ffd700; /* Gold */
}

#content
{
	width: 600px;
	float: left;
	background-color: #ffffff;
	min-height: 600px; 
	padding-top:0px;
	padding-right:20px;
	padding-bottom:0px;
	padding-left:20px;
	margin-right:10px;
}

#addbar
{	width: 150px;
	float: left;
	margin-top:0px;
	padding: 0 0 0 0;
}

#footer
{
	font-size: 10px;
	text-align: center;
	color: green;
	width: 980px;
	float: left;
	margin: 0px;
}


/* START OF FORMS CSS */
#contactContainer
{
    width: 550px;
    text-align: left;
}

#myFormLabel
{
    width: 100px;
    float: left;
    text-align: left;
	color: light-grey;
	height: 30px;
	font-size: 11px;
}
#myFormForm
{
    width: 450px;
    float: left;
    text-align: left;
	height: 30px;
	color: yellow;
}
/* END OF FORMS CSS*/

/* START OF SPECIAL OFFER PIECE*/

#specialoffercontainer
{
	margin: 0px auto 0px auto;
	float: left;
	width: 600px;
	background-color: white;
	padding: 0;
}

/* All The Classes Go Here*/
.clear
{
    clear: both;
    height: 10px;
}

/* All The Basic Tags Go Here*/

select {
	margin-right: 20px;
}

body {
	background-image:url('oscars_bg.jpg');
	background-attachment:fixed;
}

table {
	background-color: #006600; /* light-green in footer */
}

hr {
	margin-top: 10px;
	margin-bottom: 10px;
	color: #006600; /* green */
}

h1 {	
	font-size: 30px;
	color: #ffd700 ; /*Gold*/
	text-shadow: 1px 1px #000000;
	text-shadow: 0 0 10px #000000;
} 

h2 {	
	font-size: 30px;
	color: #000000 ; /*red*/
	text-shadow: 1px 1px #ff0000;
	text-shadow: 0 0 10px #ff0000;
	text-align: center;
} 

h3 {	
	font-size: 20px;
	font-weight:normal;
	margin: 0px;
	padding: 0px;
	color: #ffd700 ; /*Gold*/
	text-shadow: 1px 1px #000000;
	text-shadow: 1px 1px 5px #000000;
	border: 5px;
}

h4 {	
	font-size: 14px;
	text-align: centre;
	color: #000000; /* black */
}

ul {
	list-style: none;
	margin-top: 0px;
	font-size: 13px;
}

dl {
	list-style: none;
	margin-top: 3px;
	font-size: 13px;
}


li {
	padding-top: 5px;
	padding-right: 0px;
	padding-bottom: 5px;
	padding-left: 0px;
	margin-left: -20px;
}

p  { 
	color: #000000;
	font-size: 14px;
	font-weight:bold;
	margin-left: 30px;
	margin-right: 30px;
}

a {
	text-decoration:none;
}

a:link {color:black} /* Unvisited Link */
a:visited {color:black} /* Visited Link */
a:hover {color:black;} /* Mouse over Link */
a:active {color: #2F4F4F} /* Selected Link */



